.color-system {

    display: none;



    @media ($m-m) {
        position: relative;
        display: block;
        height: 300px;
        transform: translate3d(0, -2%, 0);
        z-index: 4;

        &::before {
            content: '';
            position: absolute;
            height: 1997px;
            bottom: -615px;
            left: 0;
            right: -73%;
            z-index: 1;
            background: transparent;
            background: radial-gradient(1089.00px at 50.5% 50%, #FF6700 0%, #D45600 7.07%, #A34200 16.16%, transparent 26.26%, transparent 36.36%, transparent 46.46%, transparent 57.58%, transparent 69.7%, transparent 82.83%, transparent 100%);
          
            mix-blend-mode: screen;

            opacity: 0.6;
        }
    }
  
  }
  
  
  .color-system__orbit {
    position: absolute;
    top: -30%;
    right: 12%;
    width: 55%;
    transform: translate3d(50%, -50%, 0);
  
    &::after {
        content: '';
        display: block;
        padding-top: 100%;

    }
  
    &--m {
        width: 18%;
    }
  
    &--n {
        width: 35%;
    }
  
    &--l {
        width: 52%;
    }

    &--x {
        width: 75%;
    }

  }
  
  .color-system__orbit-circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  
    &--m {
        border: 1px solid rgba(191, 138, 64, 0.75);


        animation: color-orbit 15s reverse infinite linear;
    }

    &--n {
        border: 1px solid rgba(191, 138, 64, 0.65);


        animation: color-orbit 20s reverse infinite linear;
    }
  
    &--l {
        border: 1px solid rgba(191, 138, 64, 0.55);


        animation: color-orbit 24s infinite linear;
    }

    &--x {
        border: 1px solid rgba(191, 138, 64, 0.35);
        

        animation: color-orbit 40s infinite linear;
    }
  }

  .color-system__group {
    position: absolute;
    top: 50%;
    left: -33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 145px;

    &::after {
        content: '';
        position: absolute;
        border-radius: 100%;
        border: 1px solid rgba(191, 138, 64, 0.75);
        width: 100px;
        height: 100px;
        left: -15px;
    }

    &--two {
        // top: 5%;
        // left: 15px;
        top: 10%;
        left: 285px;
    }

    &--three {
        // top: 5%;
        // left: 225px;
        top: 15%;
        left: 650px;
    }

    @media ($m-l) {

        position: absolute;
        top: 50%;
        left: -33px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width: 145px;
    
        &::after {
            content: '';
            position: absolute;
            border-radius: 100%;
            border: 1px solid rgba(191, 138, 64, 0.75);
            width: 100px;
            height: 100px;
            left: -15px;
        }
    
        &--two {
            // top: 5%;
            // left: 15px;
            top: -5%;
            left: 285px;
        }
    
        &--three {
            // top: 5%;
            // left: 225px;
            top: -2%;
            left: 650px;
        }
    }

  }
  
  .color-system__planet {
    // position: absolute;
    // top: 50%;
    // left: 0;
    // width: 25%;
    // border: 20px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    // box-shadow: 0 0 100px rgba(0, 0, 0, .3);
    // transform: translate3d(-50%, -50%, 0);
  


  
    &--col-ED {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
        border: 20px solid rgba(255, 255, 255, 0.2); 

        &::after {
            content: '';
            display: block;
            padding-top: 100%;
            background: #EDEBE9;
            border-radius: 100%;
        }
    }
    &--col-3D {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
        border: 20px solid rgba(255, 255, 255, 0.2); 

        &::after {
            content: '';
            display: block;
            padding-top: 100%;
            background: #3DBC07;
            border-radius: 100%;
        }
    }
    &--col-6A {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
        border: 20px solid rgba(255, 255, 255, 0.2); 

        &::after {
            content: '';
            display: block;
            padding-top: 100%;
            background: #6A507B;
            border-radius: 100%;
        }
    }
    &--col-C0 {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
        border: 20px solid rgba(255, 255, 255, 0.2); 

        &::after {
            content: '';
            display: block;
            padding-top: 100%;
            background: #C07989;
            border-radius: 100%;
        }
    }
    &--col-C7 {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
        border: 20px solid rgba(255, 255, 255, 0.2); 

        &::after {
            content: '';
            display: block;
            padding-top: 100%;
            background: #C7A378;
            border-radius: 100%;
        }
    }
    &--col-4E {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
        border: 20px solid rgba(255, 255, 255, 0.2); 

        &::after {
            content: '';
            display: block;
            padding-top: 100%;
            background: #4E5258;
            border-radius: 100%;
        }
    }
  }

  .color-system__title {
      color: #E4C781;
      font-size: 20px;
  }
  
  @keyframes color-orbit {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }